<h1>Family Cookbook</h1>

<p>
  This is the home page for my
  family's online cookbook.  
  Some of the recipes are personal
  favorites of family members and
  others are come from my family. 
  I hope you enjoy the recipes.  
</p>
<p>
	Feel free to leave comments on
	on the recipes.
<p>
  If you want a recipe posted here
  or you want to make a request,
  <%= link_to "click here.", "#" %> 
</p>

<%= link_to "View Cookbook", pages_path, :class => "signup_button round" %>
