<h1>Recipes</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Recipe</th>
  </tr>

<% @recipes.each do |rec| %>
  <tr>
    <td><%= rec.category %></td>
    <td><%= link_to rec.name, "recipes/show/#{rec.id}" %></td>
  </tr>
<% end %>
</table>

<br />

