<header>
  <%= link_to logo, root_path %>
<nav class="round">
	<ul>
    	<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Recipes", pages_path %></li>
      	<li><%= link_to "Sign in", newuser_path %></li>
    </ul>
</nav>
</header>
